.checkout__content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkout__content2 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkout__link {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #3D3D3D;
}

.checkout__link:hover {
    color: #000000;
}

.checkout__title {
    font-family: Cera Pro;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #3D3D3D;
    margin-top: 30px;
    margin-bottom: 15px;
}

.checkout__form {
    margin-bottom: 90px;
}

.checkout__groups {
    display: flex;
    align-items: end;
    gap: 30px;
}

.checkout__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.checkout__group2 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.checkout__input {
    padding-left: 10px;
    width: 350px;
    height: 40px;
    top: 228px;
    left: 120px;
    border-width: 1px;
    border-radius: 3px;
    border: 1px solid #EAEAEA;
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0%;
    color: #A5A5A5;
}

.checkout__input2 {
    padding-left: 10px;
    width: 350px;
    height: 152px;
    top: 775px;
    left: 120px;
    border-width: 1px;
    border-radius: 3px;
    border: 1px solid #EAEAEA;
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: start;
    color: #A5A5A5;
}

.checkout__label {
    font-family: Cera Pro;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0%;
    color: #3D3D3D;
    margin-bottom: 10px;
    text-align: start;
}

.checkout__btn {
    width: 15px;
    height: 15px;
    top: 680px;
    left: 120px;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    border: 2px solid #46A358;
    background: none;
    border-radius: 50%;
}

button:hover {
    background: #388e3c;
    border-radius: 50%;
}

button:active {
    background: #388e3c;
    border-radius: 50%;
}